# Ignore anything inside the target directory
target/**

# Ignore anything inside the .idea directory
.idea/**

# Ignore anything inside the logs directory
logs/**

# Downloaded by mvnw on its first run
.mvn/wrapper/maven-wrapper.jar
